<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>View Stores</title>
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">View Stores</h1>
        <div th:each="st : ${stores}">
            <h2 th:text="${st.name}" class="mb-3"></h2>
            <span class="d-block mb-3" th:text="${ 'Store ID: ' + {st.id}}"></span>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="em : ${st.employees}">
                        <td th:text="${em.id}"></td>
                        <td th:text="${em.name}"></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h3 class="mb-2">Store Games</h2>
                <span class="d-block mb-3" th:text="${ 'Total Video Games: ' + {st.videogames.size()}}"></span>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="vg : ${st.videogames}">
                            <td th:text="${vg.title}"></td>
                            <td th:text="${vg.price}"></td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
    <br>
</body>

</html>